* {
  margin: 0px;
  border: 0px;
}

body#kontakt {
  background-color: #ECEFF4;
}

body {
  color: #2e3440;
  background-color: #d8dee9;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

header {
  display: flex;
  flex-direction: row;
  grid-area: header;
  align-self: flex-start;
  align-content: flex-start;
  text-align: left;
  padding: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  grid-area: nav;
  font-size: 3rem;
  font-weight: 900;
  margin-top: 0.6rem;
}

nav a, nav a:link, nav a:visited {
  color: #4c566a;
  padding-left: 1rem;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
  text-decoration: none;
}

nav a:hover {
	text-decoration: none;
  border-right: 1rem solid #4c566a;
  background-color: #b48ead;
  padding-right: 1rem;
  transition: all 0.3s ease-in-out;
}

img {
  max-width: 512px;
  grid-area: img;
  align-self: end;
  padding-bottom: 1rem;
}

main {
  grid-area: main;
  align-self: end;
  padding: 1rem;
  color: #d8dee9;
  border-left: 0.6rem solid #8fbcbb;
  background-color: #4c566a;
}

aside {
  grid-area: aside;
  align-self: end;
  padding: 1rem;
  background-color: #3b4252;
  color: #d8dee9;
  border-left: 0.6rem solid #b48ead;
}

footer {
  grid-area: footer;
  align-self: end;
  padding: 1rem;
  color: #d8dee9;
  border-left: 0.6rem solid #5e81ac;
  background-color: #3b4252;
}

h1 {
  font-weight: 100;
  font-size: 3rem;
  text-align: left;
  color: #4c566a;
}
h2, h3 {
  padding-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

h4 {
  padding-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

br {
  margin-top: 0.6rem;
}

footer a:link {
  color: #d8dee9;
  background-color: #4c566a;
  text-decoration: none;
  padding: 0.1rem 0.6rem;
}

footer a:visited {
  color: #b48ead;
  text-decoration: underline;
}

footer a:hover {
  color: #4c566a;
  background-color: #b48ead;
  transition: ease-in-out;
  text-decoration: underline;
}

ul li {
  list-style-type: none;
  list-style: outside;
  list-style-image: url("../img/starlet.png");
  text-align: left;
  line-height: 1.5rem;
  padding: 0.2rem;
}

p {
  text-align: start;
  max-width: fit-content;
  max-height: fit-content;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.social {
  margin-bottom: 1rem;
}


.grid-container {
    display: grid;
    height: 100vh;
    grid-template-areas:
    "header nav nav nav"
    "img main aside footer"
    "img main aside footer";
    grid-gap: 0px;
    font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 1600px) {
  .grid-container {
    display: grid;
    grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "img img main footer"
    "img img aside footer";
  }
  nav {
    font-size: 2rem;
    }
  h1 {
    font-size: 3rem;
    }
  img {
    max-width: 60vw;
    }
  aside {
    height: 100%;
  }
  main {
    height: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .grid-container {
    display: grid;
      grid-template-areas:
      "nav nav"
      "header header"
      "img img"
      "main main"
      "footer footer"
      "aside aside";
  }
  nav {
    font-size: 1.4rem;
    }
  h1 {
    font-size: 1.8rem;
    }
  img {
    max-width: 60vw;
    }
}