* {
  margin: 0px;
  border: 0px;
  clear: both;
  transition: 300ms;
}

:root {
  --fg: #312F42;
  --bg: #E2E2E2;
  --gap: 1rem;
  --font-family: Raleway;
  --link-font-family: Courier;
  --default-font-size: 1rem;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-family: var(--font-family);
  font-size: var(--default-font-size);
}

body {
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
  background-color: var(--bg);
  color: var(--fg);
}

.background {
  width: 100%;
  position: fixed;
  bottom: 0px;
  object-position: bottom;
  object-fit: cover;
  z-index: -1;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  padding-block: 1rem;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  padding-block: 1rem;
}

ol {
  margin-inline: auto;
  text-align: justify;
  list-style-type: disc;
}

:any-link {
  color: var(--fg);
  text-decoration: none;
  font-weight: 700;
}

.link:hover {
  color: #78B6C8;
  fill: #78B6C8;
}

header {
  position: fixed;
  top: 1rem;
  display: grid;
  grid-auto-flow: dense;
  width: 100vw;
  margin-inline: auto;
  align-items: center;
  text-align: center;
  justify-items: center;
  background-color: var(--bg);
  z-index: 100;
}

main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 100%;
  gap: 1rem;
  z-index: +1;
  
}

.card {
  margin-top: 6rem;
  font-weight: 500;
  width: 100vw;
  height: calc(100vh - 11rem);
  overflow-y: scroll;
}

.card::-webkit-scrollbar {
  display: none;
}

.card {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

 :where(article, section) p, ol {
  margin-inline: auto;
  padding-inline: 5%;
  line-height: 1.25rem;
  text-align: justify;
  max-width: 40rem;
}

.colorize {
  color: var(--fg);
  fill: var(--fg);
}

.logo {
  height: 3rem;
}

.navigation,
.socialize {
  display: inline-flex;
  gap: 1rem;
}

.navigation {
  grid-column: span 2;
}

.socialize svg {
  height: 2rem;
}