* {
  margin: 0px;
  border: 0px;
  clear: both;
  transition: 300ms;
}

:root {
  --fg: #5500d4;
  --bg: #f0f8ff;
  --gap: 1rem;
  --font-family: Raleway;
  --link-font-family: Courier;
  --default-font-size: 1rem;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-family: var(--font-family);
  font-size: var(--default-font-size);
}

body {
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
  background-color: var(--bg);
  color: var(--fg);
}

.background {
  width: 100%;
  position: fixed;
  bottom: 0px;
  object-position: bottom;
  object-fit: cover;
  z-index: -1;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  padding-block: 1rem;
}

h5 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  padding-block: 1rem;
}

:any-link {
  color: var(--fg);
  text-decoration: none;
}

.link:hover {
  opacity: 50%;
}

header {
  position: fixed;
  top: 1rem;
  display: flex;
  margin: 0 auto;
  align-content: space-between;
  z-index: 100;
}

.colorize {
  color: var(--fg);
  fill: var(--fg);
}

.logo {
  height: 3rem;
}

.navigation,
.socialize {
  display: flex;
  gap: 1rem;
}

.socialize {
  font-size: 2em;
}
